$sunflower: #FFC613;
$lightOrange: #FDCB2A;
$yellow: #f7c422;
$blackPearl: #1E242E;

html, body, div, h1 {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: $blackPearl;
}

.body {
	font-size: 16px;
	height: 100%;
}

.timer {
	&__container {
		background: #000;
		display: grid;
		grid-template-rows: auto 1fr;
	}
	&__header {
		text-align: center;
		height: 45vh;
		display: grid;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__logo {

	}
	&__logo-img {
		max-width: 250px;
	}

	&__body {
		background: white;
		height: 55vh;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}