@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,500,700&display=swap');

$sunflower: #FFC613;
$lightOrange: #FDCB2A;
$yellow: #f7c422;
$blackPearl: lighten(#1E242E, 2%);
$licorice: lighten(#323947, 2%);

html, body, div, h1, span, picture, img {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: $blackPearl;
}

body {
	font-size: 16px;
	font-family: 'Alegreya Sans', sans-serif;
	background: $blackPearl;
	color: #fff;
}

.timer {
	padding: 1.5em;
	&__container {
		display: grid;
		grid-template-rows: auto 1fr;
		grid-row-gap: 3em;
	}
	&__header {
		text-align: center;
		display: grid;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__prompt-icon {
		max-width: 80px;
	}
	&__logo-img {
		max-width: 250px;
		margin-top: 35%;
	}
	&__screen-title {
		width: 90%;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
    line-height: .8;
    margin: 0 auto;
	}
	&__body {
		// background: white;
		display: grid;
		grid-row-gap: 2em;
		justify-content: center;
	}
	&__btn {
		background: $licorice;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: #fff;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		padding: .25em .5em .25em .25em;
		font-size: 3rem;
		font-weight: 300;
		border: none;
	}
	&__btn-picture {
		// background: yellow;
		display: inline-flex;
		flex-direction: column;
	}
	&__btn-icon {
		max-width: 35px;
		margin: 15px;
	}
	&__btn-text {

	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}